.container {
  width: 60%; /* Adjust the width for desktop */
  max-width: 800px; /* Set a maximum width for larger screens */
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Styles for form elements */
.form-group {
  margin-bottom: 20px; /* Increase the margin for desktop */
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}
input[type="text"],
input[type="number"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px; /* Increase the margin for desktop */
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style the submit button */
.form-submit {
  background-color: #007bff;
  color: #fff;
  padding: 12px 24px; /* Increase padding for desktop */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-submit:hover {
  background-color: #0056b3;
}
